<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abishek Monthly Budget</title>

    <!-- Poppins Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="style.css" />

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>

  <body>
    <div ng-app="" ng-init="all='false'" class="container">
      <div class="wrapper">
        <h1>Monthly Budget</h1>
        <hr>
        <div class="total_exp_inc_wrapper">
          <div class="total_wrapper">
            <h2 class="total_heading">Profit in %</h2>
            <input class="total_value_display" type="number" value="0" ng-readonly="all">
          </div>
          
          <div class="total_wrapper">
            <h2 class="total_heading">Profit in ₹</h2>
            <input class="total_value_display" type="number" value="0" ng-readonly="all">
          </div>
        </div>

        
        <div class="wrapper-content">
          
          <div class="two_by_two">
            <h2 class="heading">Expense</h2>
            <div class="wrapper-columns">
              
                <div class="columns-columns">
                  <h2 class="sub_heading">Reason</h2>
                  <input class="expense_label_text first_expense_label_text" type="text">
                  <input class="expense_label_text" type="text">
                  <input class="expense_label_text" type="text">
                  <input class="expense_label_text" type="text">
                  <input class="expense_label_text" type="text">
                  <input class="expense_label_text" type="text">
                  <input class="expense_label_text" type="text">
                  <input class="expense_label_text" type="text">
                  <input class="expense_label_text" type="text">
                  <input class="expense_label_text" type="text">
                  <input class="expense_label_text" type="text">
                  <input class="expense_label_text" type="text">
                  <input class="expense_label_text" type="text">
                  <input class="expense_label_text total_value" type="text" value="Total Expenses" ng-readonly="all">
                </div>
                <div class="columns-columns">
                  <h2 class="sub_heading">Amount in ₹</h2>
                  <input class="expense_label_text first_expense_label_text" type="number" value="0">
                  <input class="expense_label_text" type="number" value="0">
                  <input class="expense_label_text" type="number" value="0">
                  <input class="expense_label_text" type="number" value="0">
                  <input class="expense_label_text" type="number" value="0">
                  <input class="expense_label_text" type="number" value="0">
                  <input class="expense_label_text" type="number" value="0">
                  <input class="expense_label_text" type="number" value="0">
                  <input class="expense_label_text" type="number" value="0">
                  <input class="expense_label_text" type="number" value="0">
                  <input class="expense_label_text" type="number" value="0">
                  <input class="expense_label_text" type="number" value="0">
                  <input class="expense_label_text" type="number" value="0">
                  <input class="expense_label_text total_value" type="number" value="0" ng-readonly="all">
                </div>
            </div>
          </div>

          <div class="divider">

          </div>

          <div class="two_by_two">
            <h2 class="heading">Income</h2>
            <div class="wrapper-columns">
              <div class="columns-columns">
                <h2 class="sub_heading">Reason</h2>
                <input class="expense_label_text first_expense_label_text" type="text">
                <input class="expense_label_text" type="text">
                <input class="expense_label_text" type="text">
                <input class="expense_label_text" type="text">
                <input class="expense_label_text" type="text">
                <input class="expense_label_text" type="text">
                <input class="expense_label_text" type="text">
                <input class="expense_label_text" type="text">
                <input class="expense_label_text" type="text">
                <input class="expense_label_text" type="text">
                <input class="expense_label_text" type="text">
                <input class="expense_label_text" type="text">
                <input class="expense_label_text" type="text">
                <input class="expense_label_text total_value" type="text" value="Total Income" ng-readonly="all">
              </div>
              <div class="columns-columns">
                <h2 class="sub_heading">Amount in ₹</h2>
                <input class="expense_label_text first_expense_label_text" type="number" value="0">
                <input class="expense_label_text" type="number" value="0">
                <input class="expense_label_text" type="number" value="0">
                <input class="expense_label_text" type="number" value="0">
                <input class="expense_label_text" type="number" value="0">
                <input class="expense_label_text" type="number" value="0">
                <input class="expense_label_text" type="number" value="0">
                <input class="expense_label_text" type="number" value="0">
                <input class="expense_label_text" type="number" value="0">
                <input class="expense_label_text" type="number" value="0">
                <input class="expense_label_text" type="number" value="0">
                <input class="expense_label_text" type="number" value="0">
                <input class="expense_label_text" type="number" value="0">
                <input class="expense_label_text total_value" type="number" value="0" ng-readonly="all">
                </div>
            </div>
          </div>
            
            
        </div>
      </div>
    </div>

    <!-- <div ng-app="">
        <input ng-model="name" type="number" name="" id="" placeholder="Write your age">
        <input ng-model="color" type="text" name="" id="" placeholder="Write your favourite color">
        <p style="background-color: {{color}};">{{name > 18 ? "You are eligible" : "You are not eligible"}}</p>
    </div> -->
  </body>
</html>
