* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100%;
    background-color:rgb(98, 0, 255);
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    background-color:rgb(98, 0, 255);
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 93vw;
    padding: 1rem;
    background-color:rgb(0, 0, 0);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 50px;
}

.wrapper h1 {
    color: transparent;
    text-transform: uppercase;
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
}

hr {
    border:rgb(98, 0, 255) 2px solid;
    width: 75%;
}

.heading {
    width: 100%;
    color: white;
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(98, 0, 255);
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    line-height: 40px;
    margin: 0 0 1rem 0;
}

.sub_heading {
    color: transparent;
    text-transform: uppercase;
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
}

.wrapper-content {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.two_by_two {
    width: 50%;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-columns {
    width: 100%;
    display: flex;
    justify-content: center;

}

.columns-columns {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.expense_label_text {
    width: 90%;
    margin-bottom: 0.5rem;
    border: 3px solid rgb(98, 0, 255);
    border-radius: 6px;
    height: 2rem;
    text-align: end;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    background-color:rgb(20, 20, 20);
    color: white;
}


.first_expense_label_text {
    margin-top: 0.5rem;
}

.total_exp_inc_wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.total_wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total_heading {
    width: 40%;
    color: white;
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(98, 0, 255);
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0 1rem 0 0 ;
    padding: 0.5rem;
}

.total_value_display {
    width: 40%;
    height: 100%;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    border: 3px solid rgb(98, 0, 255);
    border-radius: 6px;
    background-color:rgb(20, 20, 20);
    color: white;
}

.total_value {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border: none;
    background-color: rgb(128, 49, 255);
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}





























@media (max-width: 768px) {
    .total_exp_inc_wrapper {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 1rem 0 0 0;
    }

    .total_wrapper {
        width: 100%;
        margin: 0 0 1rem 0;
    }

    .total_heading {
        font-size: 1rem;
    }
    .wrapper-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .two_by_two {
        width: 95%;
    }

    .columns-columns {
        height: 50%;
        width: 100%;
    }
    
    .divider {
        border: 2px solid rgb(98, 0, 255);
        width: 95%;
    }
}

@media (max-width: 426px) {
    .total_value {
        font-size: 12px;
    }

    .total_value_display {
        font-size: 1.5rem;
    }

    .sub_heading {
        font-size: 1rem;
    }
}

@media (max-width: 360px) {
    .wrapper h1 {
        font-size: 1.5rem;
    }
}



